@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.inter {
  font-family: var(--font-inter);
}

/* .page_start {
  @apply mt-30
} */








